body {
    background: url("imagenes\\\wormhole.jpg");
    min-height: 100vh;
    font-family: 'Karla', sans-serif;
}

.caja {
    display: flex;
    flex-direction: row;
    padding: 5%;
}
    .caja section {
        height: 45em;
        margin-left: 10%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column
    }
    .caja-mensaje {
        background-color: transparent;
        width: 50%;
    }

    .caja-resultado {
        background-color: black;
        width: 25%;
        border-radius: 2em;
    }

textarea, textarea:focus, textarea:active{
    resize: none;
    overflow-y: auto;
    width: 90%;
    padding: 2em 5%;
    background-color: transparent;
    border-radius: inherit;
    height: 80%;
    outline: transparent;
    border: none;
}
    #mensaje {
        color: white;
        font-size: 2em;
    }
    #resultado {
        display: none;
        color: white;
        font-size: 2em;
    
    }
    .imagen p {
        color: white;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-size: 1.5em;
    }
    #img-no-text {
        position: inherit;
        margin: 45% 10% 0% 10%;
        width: 80%;
    }
    
.botones {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: auto;
}
    button {
        width: 30%;
        min-width: fit-content;
        background-color: transparent;
        color: white;
        font-size: 1em;
        padding: 1em 0;
        margin: 1em;
        border-radius: 1em;
        border: 0.1em solid #7614e3;
        transition: 0.4s;
    }
        button:hover {
            background-color: #7614e3;
        }
        button:active {
            background-color: #4b128c;
        }
    #boton-copiar {
        width: 80%;
    }


