* {
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(imagenes/stars-1920x1280.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: 'Karla', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    margin: 2%;
    align-items: center;
}
    section {
        height: 50vh;
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        padding: 1em 0;
        min-height: 320px;
        max-height: 420px;
        
    }
    .caja-mensaje {
        background-color: transparent;
    }

    .caja-resultado {
        background-color: black;
        border-radius: 2em;
    }

textarea, textarea:focus, textarea:active{
    resize: none;
    overflow-y: auto;
    width: 90%;
    padding: 10% 1em;
    background-color: transparent;
    border-radius: inherit;
    height: 80%;
    outline: transparent;
    border: none;
    font-size: 1.5em;
    color: lightgrey;
}
    textarea::placeholder{
        color: lightgrey;

    }
    #resultado {
        display: none;
    }
    .imagen {
        text-align: center;
    }
    .imagen p {
        color: lightgrey;
        font-size: 1.25em;
    }
    #img-no-text {
        width: 40%;
    }
    
.botones {
    display: flex;
    justify-content: space-between;
    width: inherit;
}
    button {
        width: 40%;
        min-width: fit-content;
        background-color: transparent;
        color: lightgrey;
        font-size: 0.8em;
        padding: 1em 0;
        border-radius: 1em;
        border: 0.1em solid blueviolet;
        transition: 0.4s;
        margin: 0.5em auto;
    }
        button:hover {
            background-color: #7614e3;
        }
        button:active {
            background-color: #4b128c;
        }
    #boton-copiar {
        width: 80%;
    }








@media (min-width: 720px) {

    main {
        flex-direction: row;
        margin: 5%;
    }
    section {
        height: 70vh;
        margin: auto;
        min-height: 480px;
        max-height: none;
        justify-content: space-between;
    }
    .caja-mensaje {
        background-color: transparent;
        width: 50%;
    }

    .caja-resultado {
        background-color: black;
        width: 25%;
        border-radius: 2em;
    }
    textarea, textarea:focus, textarea:active{
        padding: 2em 1em;
        font-size: 1.8em;
    }
    .botones {
        width: 100%;
    }
    #img-no-text {
        width: 90%;
        margin: 1em;
    }
    .imagen {
        margin: auto;
    }
    .imagen p {
        color: lightgrey;
        font-size: 1.25em;
        margin: 0% 5%;
    }
    button {
        font-size: 1.2em;
    }

}